#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.billWrapper h2 {
  text-transform: uppercase;
  color: midnightblue;
}

.billWrapper {
  justify-content: flex-start;
}
