.startWrapper {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    width: 90%; 
    min-height: 400px; 
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 15px;
}

.startWrapper h1 {
    text-transform: uppercase;
    margin-bottom: 20px; 
    font-size: 40px;
    color: rgb(220, 95, 220);
    letter-spacing: 5px;
}

.formWrapper {
    padding: 25px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

select {
    background-color: rgb(66, 58, 112);
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    color: beige;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.inputGroup label {
    margin-bottom: 5px;
}

.buttonStart {
    margin-bottom: 15px;
}

.quizWrapper {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    width: 90%; 
    min-height: 400px; 
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 15px;
}

.quizWrapper h2 {
    text-transform: uppercase;
    margin-bottom: 20px; 
    letter-spacing: 5px;
}

.quizWrapper h3 {
    padding: 10px;
}

#total {
    text-transform: uppercase;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-right: 25px;
}

.quizWrapper li {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.quizWrapper li:hover {
    background-color: darkorchid;
}

#restart {
    margin-bottom: 50px;
}