.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
    color: rgb(223, 70, 141);
}

.titleContainer {
    margin-bottom: 30px;
}

.titleContainer > a {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

a:hover h2 {
    color: rgb(221, 151, 249);
}

.titleContainer h1 {
    letter-spacing: 5px;
    font-size: 36px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding-bottom: 15%;
}

.infoContainer > h2 {
    margin-bottom: 5px;
}

.infoContainer > span {
    text-align: center;
    font-weight: 200;
}
