body {
    background-color: darksalmon;
    color: rgb(103, 113, 123);
    font-family: "Sofia Sans", sans-serif;
}

.formWrapper {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    width: 400px;
    min-height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: chocolate;
    box-shadow: 0 10px 30px rgb(141, 73, 25) ;
}

.header h3 {
    display: inline; 
    padding: 10px; 
    margin-left: 40px;
}

.header span {
    margin-left: 5px; 
    color: midnightblue;
}

.header {
    display: flex;
    align-items: flex-start;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputWrapper {
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: midnightblue;
    margin-right: 260px;
}

.labelLarge {
    display: block;
    margin-bottom: 8px;
    color: midnightblue;
    font-weight: bold;
    margin-right: 270px;
}

.inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    color: midnightblue;
    margin-bottom: 10px;
}

.radioGroup {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 10px; 
}

.radioLabel {
    margin-right: 100px; 
}

#paymentTitle {
    white-space: nowrap;
    margin-bottom: 8px;
    color: midnightblue;
    font-weight: bold;
    margin-right: 200px;
}

.checkboxWrapper {
    margin-right: 110px;
}

#agreementInput {
    margin-right: 10px;
}

.detailsWrapper {
    text-align: left;
}
