.table-container {
    float: right;
    width: 100%; 
    transform: translateX(15%); 
}

h1 {
    color: deeppink;
    text-transform: uppercase;
    letter-spacing: 5px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #dddddd;
    padding: 12px; 
    text-align: left;
    text-align: center;
}
  
th {
    background-color: #f2f2f2;
    color: deeppink;
    min-width: 150px;
    text-transform: uppercase;
}

td {
    min-width: 150px; 
}

.btn {
    width: 40px;
    height: 50px;
    padding: 5%;
    cursor: pointer;
}

.btn:hover {
    color: greenyellow;
}

.img:hover {
    transform: scale(1.5); 
}

.addWrapper {
    position: absolute;
    left: 5%;
    top: 50%; 
    transform: translateY(-50%); 
    width: 200px; 
    padding: 20px;
    z-index: 1;
}

.addWrapper h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 25px;
    margin-top: 152px;
}

button {
    text-transform: uppercase;
    background-color: whitesmoke;
    color: deeppink;
}

button:hover {
    background-color: greenyellow;
}

.inputWrapper {
    margin-bottom: 20px; 
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid #ced4da;
    color: deeppink;
}

input[type="date"] {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid #ced4da;
    color: deeppink;
}

input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid #ced4da;
    color: deeppink;
}

input[type="color"] {
    width: 100%; 
    background-color: whitesmoke;
    border: 1px solid #ced4da;
}

.filterButtonsWrapper {
    padding: 15px;
    margin-left: 450px;
    display: flex;
}

.radioLabel {
    margin-right: 20px; 
}
  
@media (max-width: 1400px) {
    .table-container {
      width: 100%; 
      transform: translateX(-5%); 
    }
  
    th, td {
      padding: 10px; 
      min-width: 50px;
    }

    .addWrapper {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        margin-bottom: 20px;    
        transform: translateX(50%); 
    }

    .filterButtonsWrapper {
        padding: 15px;
        margin-left: 50px;
        display: flex;
    }
}
  